// colors
$defaultBG: #FFF1E0;
$defaultColor: #333333;
$placeHolderBG: #E9DECF;
$footerBorderColor: #A7A59B;
$footerIconColor: #505050;

// width, height and padding


// Percentages
$goldenRatio: 168.1%;
$videoRatio: percentage(9/16);
$coverImage: 56.25%;

// Font Sizes

// score card display

//headers and footers
$headerHeight: 44px;
$closeButtonHeight: 36px;
$closeButtonBG: #9d9793;
$logoHeight: 30px;
$headerBG: #333;
$statusBarHeight: 20px;
$navOn: #27757b;